[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
twine = "*"
setuptools = "*"
wheel = "*"

[dev-packages]
dogma = {editable = true, path = "."}

[requires]
python_version = "3.7"
