[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
twine = "*"
setuptools = "*"
wheel = "*"
dogma = {editable = true, path = "."}
readme-renderer = "*"

[requires]
python_version = "3.7"
